fastapi==0.115.6
uvicorn[standard]==0.34.0

pydantic>=2.12.5,<3
pydantic-settings>=2.7.0,<3

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

httpx==0.28.1
pyodbc==5.2.0

openpyxl==3.1.5
reportlab==4.2.5

pyzk==0.9
pywebview==5.4
pyinstaller>=6.16.0,<7

pytest==8.3.4

openai>=3.14.0
python-dotenv>=1.0.1
python-multipart>=0.0.9
tzdata>=2025.2
